@import url(globals.css);

h1{
    color: var(--color);
    background-color: var(--background_color);
    border: var(--border)
}


.div1{
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    background-color: var(--background_color);
    border-radius: var(--border-radius);
    /* animation-name: changeColor;
    animation-duration: 5; */
}

nav a:first-child{
    color: yellow;
}
nav a:last-child{
    color: orange;
}
nav a:nth-child(2){
    color: red;
}

